.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to 'Albums', albums_path
        = content_tag :span, '/', class: :divider
      %li.active
        = @album.name

.row-fluid
  .span12

    .page-header
      %h1
        =image_tag @album.user.avatar, class: "img-polaroid"
        = @album.name

    %ul#sortable.thumbnails
      -@photos.each_slice(3) do |photo_set|
        .row-fluid.image_set
          -photo_set.each do |photo|
            = render photo

    -if @photos.empty?
      .alert.alert-block
        %button{:type => "button", :class => "close", 'data-dismiss' => "alert"}
        %h4
          No Photos yet!
        To Add Photos... Drag them from the computer into this window.

.row-fluid
  .span12
    = form_for [@album, Photo.new] do |f|
      = f.file_field :image, multiple: true, name: "photo[image]"

.row-fluid
  .span3
    #target

.row-fluid
  .span12
    = link_to 'Delete Album', @album, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'
    = link_to 'Edit', edit_album_path(@album), class: :btn
    = link_to content_tag(:i, nil, class: 'icon-plus')+'Add Photos', '#', id: 'upload-btn', class: 'btn'

:javascript

  function setMouseOver(){

    $('.controls a').hide()
    $(".thumbnails li").mouseover(function() {
      $(this).find('.controls a').show();
    }).mouseout(function(){
      $(this).find('.controls a').hide();
    });
  }

  setMouseOver();


