%p#notice= notice

%p
  %b Album Name:
  = @album.name

%p
  %b Owner:
  =link_to @album.owner, @album.user
  =image_tag @album.user.avatar, class: "img-polaroid"

%ul.thumbnails
  -@photos.each_slice(3) do |photo_set|
    .row-fluid.image_set
      -photo_set.each do |photo|
        = render photo
      
- @photo = Photo.new


%input#fileupload{:multiple => "", :name => "photo[image]", :type => "file"}

:javascript
  $('#fileupload').hide();
  $(function () {
      $('#fileupload').fileupload({
          dataType: 'json',
          url: '#{ uploader_path(@album) }',
          done: function (e, data) {
          console.log(e);
          console.log(data)
            $.each(data.result, function (index, response) {
              list_item = $('<li class="span4"><img src="'+response+'" class="img-polaroid img-rounded" ></li>')
              div = "<div class='row-fluid image_set'></div>"
              size = $('.image_set:last').children("li").size()
              if ( size == 0 || size == 3 )
                {$(div).appendTo('.thumbnails');$(list_item).appendTo('.image_set:last');}
              else
                {$(list_item).appendTo('.image_set:last')}
            });

          }
      });
  });

  $('.controls a').hide()

  $(".thumbnails li").mouseover(function() {
      $(this).find('.controls a').show();
    }).mouseout(function(){
     $(this).find('.controls a').hide();
  });

= link_to "Add Images", new_album_photo_path(@album, Photo.new)
\|
= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
\|
= link_to 'Delete', @album, :confirm => 'Are you sure?', :method => :delete

