.row-fluid
  .span12
    %p
      =link_to "<i class='icon-arrow-left'></i>#{@photo.album.name}".html_safe, @photo.album, class: :btn
      = link_to 'Delete Photo', @photo, :data => {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-sml btn-danger'

.row-fluid
  .span7
    = image_tag @photo.image_url(:large), class: :thumbnail
    %p
      = image_tag(@photo.user.avatar, class: :thumbnail)
      = @photo.user.name
    %p
      = "Uploaded on: #{@photo.created_at.strftime('%m/%d/%Y')}"

  .span5
    %ul.unstyled
      -@photo.comments.each do |comment|
        %li.spaced
          .row-fluid

            .span1
              = image_tag(comment.user.avatar, class: :thumbnail)

            .span3
              = link_to(content_tag(:span, comment.user.name, class: :label), comment.user)
              %br/
              = time_ago_in_words(comment.created_at)

            .span7
              = comment.body

    -if current_user
      .comments
        = form_for [@photo, Comment.new] do |form|
          = form.hidden_field :user_id, :value => current_user.id
          %p
            = form.text_area :body, class: 'user_comments boxsizingBorder', :rows => 4
          %p
            = form.submit  class: 'btn btn-sml'


