!!! 5
%html
  =render :file => 'layouts/shared/head'
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        =render :file => 'layouts/shared/title'
        =render :file => 'layouts/shared/navigation'

  #content.container-fluid
    .row-fluid
      .span12
        =render :file => 'layouts/shared/notifications'
        = yield
    .row-fluid
      .span12

        - if current_user 
          %p.pull-right
            Signed in as
            = link_to current_user.name, user_path(current_user)
            = link_to 'Signout', logout_path
        - else
          %li
            = link_to "Sign in with Twitter", "/auth/twitter"
          %li
            = link_to "Sign in with Facebook", "/auth/facebook"

